// text sizes
$text-xxs: 8px;
$text-xs: 14px;
$text-sm: 16px;
$text-nm: 18px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 30px;
$text-xxl: 34px;
$text-xxxl: 39px;

// colors
$primary-color: #2091d9;
$dark-grey: #646464;
$black: #000000;
$white: #ffffff;
$bg-light-grey: #f2f2f2;
$bg-medium-grey: #f9f9fa;
$btn-primary-bg: #2091d9;
$btn-aquablue-bg: #70d8e7;
$btn-orange-bg: #ff9100;
$btn-secondary-bg: #eaeaea;
$footer-link-color: #646464;

// card padding
$card-padding-1: 31px 18px;
$card-padding-2: 12px 19px;

// input
$input-border: #eaeaea;
$input-text-color: $black;
$input-placeholder-color: $dark-grey;
$input-border-color: #eaeaea;
